# API KEYS FOR CHATS
OPENAI_API_KEY = OPENAI_API_KEY_EXAMPLE
GOOGLE_API_KEY = GOOGLE_API_KEY_EXAMPLE
GROQ_API_KEY = GROQ_API_KEY_EXAMPLE

# API FOR SEARCH
TAVILY_API_KEY = API_FOR_SEARCH


SECRET_KEY = SECRET_KEY_EXAMPLE
ALGORITHM = "HS256"
TOKEN_EXPIRE_DAYS=604800
PORT=8080

MODE_TYPE="development"

# FROM QDRANT (VDB)
QDRANT_CLOUD_API_KEY=QDRANT_CLOUD_API_KEY_EXAMPLE
QDRANT_CLOUD_ENDPOINT=QDRANT_CLOUD_ENDPOINT_EXAMPLE
